.header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

* {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-weight: bold; }

a {
  text-decoration: none; }

.section-title {
  text-align: center;
  font-size: 86px; }

.wrapper {
  height: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 165px; }

.header {
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fff; }
  .header .main-text {
    font-size: 144px;
    text-shadow: 0 0 80px #00C2EE;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #00C2EE; }
    .header .main-text .normal {
      margin-left: -40px;
      color: #fff;
      text-shadow: 0 0 80px #00C2EE;
      -webkit-text-stroke: 0; }
  .header .subtext {
    margin-left: 23vw;
    margin-top: 2vh;
    font-size: 86px;
    text-shadow: 0 0 80px #00C2EE;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #00C2EE; }
    .header .subtext .normal {
      color: #fff;
      text-shadow: 0 0 80px #00C2EE;
      -webkit-text-stroke: 0; }

.cases {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 230px;
  padding-bottom: 190px;
  background: #373737; }
  .cases .section-title {
    text-align: center;
    color: #fff;
    margin-bottom: 310px; }
  .cases .grid {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 190px;
    justify-items: center;
    margin: 0 auto; }
    .cases .grid .card {
      width: 350px;
      height: 500px;
      -webkit-box-shadow: 0 5px 20px black;
      box-shadow: 0 5px 20px black;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s; }
      .cases .grid .card .card-img {
        width: 350px;
        height: 241px;
        border-radius: 10px 10px 0 0; }
      .cases .grid .card .card-desc {
        width: 251px;
        color: #fff;
        font-size: 18px;
        line-height: 140%;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
    .cases .grid .card:hover {
      background: #fff;
      -webkit-box-shadow: 0 0 90px #00C2EE;
      box-shadow: 0 0 90px #00C2EE; }
      .cases .grid .card:hover .card-desc {
        color: #000; }
    .cases .grid .card--l {
      border-radius: 10px 10px 200px 40px; }
      .cases .grid .card--l .card-desc {
        margin-left: 35px;
        margin-top: 50px; }
    .cases .grid .card--c {
      border-radius: 10px 10px 100px 100px; }
      .cases .grid .card--c .card-desc {
        margin: auto;
        margin-top: 50px; }
    .cases .grid .card--r {
      border-radius: 10px 10px 40px 200px; }
      .cases .grid .card--r .card-desc {
        margin-left: 62px;
        margin-top: 50px; }

.services {
  padding-top: 160px; }
  .services .section-title {
    padding-bottom: 235px; }
  .services .wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 150px; }
    .services .wrapper .section-card {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 440px;
      height: -webkit-min-content;
      height: -moz-min-content;
      height: min-content;
      padding-top: 60px;
      margin-bottom: 50px;
      background: #A2A2A2;
      border-radius: 5px;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      .services .wrapper .section-card .title-block {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 60px;
        font-size: 36px; }
        .services .wrapper .section-card .title-block .section-card-title--b {
          border-bottom: 4px solid #000; }
        .services .wrapper .section-card .title-block .section-card-title--w {
          color: #fff;
          border-bottom: 4px solid #fff;
          text-transform: uppercase; }
      .services .wrapper .section-card .list {
        text-align: center;
        list-style: none;
        margin-bottom: 58px; }
        .services .wrapper .section-card .list li {
          color: #fff;
          font-size: 24px;
          line-height: 35px; }
        .services .wrapper .section-card .list .old-price::before {
          content: " ";
          position: absolute;
          top: 20px;
          left: 85px;
          width: 270px;
          height: 6px;
          -webkit-transform: rotate(-5deg);
          -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
          background: #fff; }
      .services .wrapper .section-card .price {
        font-size: 48px; }
        .services .wrapper .section-card .price .unic {
          color: #fff; }
      .services .wrapper .section-card .old-price {
        margin-bottom: 80px;
        font-size: 36px;
        position: relative; }
    .services .wrapper .section-card:hover {
      border: 4px solid #00C2EE;
      -webkit-box-shadow: 0 0 40px #00C2EE;
      box-shadow: 0 0 40px #00C2EE; }

.team {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 150px;
  background: #373737; }
  .team .section-title {
    margin-bottom: 200px;
    color: #fff; }
  .team .team-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 360px 360px 360px 360px;
    grid-template-columns: 360px 360px 360px 360px;
    -ms-grid-rows: 360px 360px;
    grid-template-rows: 360px 360px;
    grid-gap: 120px 80px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 205px; }
    .team .team-grid .member-card {
      width: 360px;
      height: 415px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-radius: 50px;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s; }
      .team .team-grid .member-card .photo-bg {
        width: 255px;
        height: 255px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: url("../img/star.png") center center no-repeat; }
        .team .team-grid .member-card .photo-bg .photo {
          width: 118px; }
      .team .team-grid .member-card .name-block {
        font-size: 26px; }
        .team .team-grid .member-card .name-block .name {
          color: #fff; }
    .team .team-grid .member-card:hover {
      -webkit-box-shadow: 0 0 60px #00C2EE;
      box-shadow: 0 0 60px #00C2EE; }

.footer {
  position: relative;
  width: 100%;
  height: 200px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #A2A2A2; }
  .footer .copyright {
    position: absolute;
    width: auto;
    bottom: 5px;
    left: 250px;
    white-space: nowrap; }
    .footer .copyright .unic {
      color: #fff;
      margin-right: 3%; }
  .footer .contacts-block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .footer .contacts-block .tel {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 15px;
      border-radius: 5px;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s; }
      .footer .contacts-block .tel a {
        text-decoration: none;
        color: #000; }
      .footer .contacts-block .tel img {
        width: 20px;
        height: 20px; }
    .footer .contacts-block .tel:hover {
      -webkit-box-shadow: 0 0 60px #00C2EE;
      box-shadow: 0 0 60px #00C2EE;
      background: #17b6db; }
    .footer .contacts-block .social-block {
      width: 100%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .footer .contacts-block .social-block .social-ico {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
      .footer .contacts-block .social-block .social-ico:hover {
        -webkit-box-shadow: 0 0 40px #00C2EE;
        box-shadow: 0 0 40px #00C2EE;
        background: #17b6db; }
