.socials {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    
    &__item {

        &--fb {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            width: 50px;
            height: 50px;
            background: url( "../img/socials--fb.svg" ) no-repeat center #E73741;
            border-radius: 50%;
            margin-right: 10px;
            @include transition;


            &:hover {
                background: url( "../img/socials--fb.svg" ) no-repeat center #EA555D;
            }
        }

        &--tw {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            width: 50px;
            height: 50px;
            background: url( "../img/socials--tw.svg" ) no-repeat center #E73741;
            border-radius: 50%;
            @include transition;

            &:hover {
                background: url( "../img/socials--tw.svg" ) no-repeat center #EA555D;
            }
        }
    }
    
    @include media-breakpoint-down(sm) {
        width: 100%;
        justify-content: space-evenly;
    }
    
    @include media-breakpoint-down(lg) {
        
        .socials__item {
	        width: 40px;
            height: 40px;
        }
    }
}
