@media screen and (max-width:1199px) {
    .adr {
    margin-bottom: 0;
    font-size: 14px;
    padding-top: 14px;
    padding-left: 30px;
}
    .teltop {
        font-size: 16px;
    }

    .topbut {
    font-size: 14px;
    background: none;
    border: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 10px;
    background-color: rgb(0, 183, 181);
    box-shadow: 1px 1.732px 1px 0px rgba(0, 0, 0, 0.3), inset 0px -3px 0px 0px rgba(0, 0, 0, 0.27);
    width: 183px;
    height: 46px;
}
    h1 {
        font-size: 29px
    }
    h1 span {
        font-size: 40px;
    }
    .in1 {
        max-width: 215px;
    }
    .fixnav > li > a {
        font-size: 13px;
    }
    .fixnav > li::after {
        margin-left: 5px;
        margin-right: 5px;
    }
    .partners > li {
        margin-left: 5px;
        margin-right: 5px;
    }
    .contta > li > a {
        padding-left: 25px;
        padding-right: 25px;
    }
    .arow2 {
    margin: 0;
    position: absolute;
    left: 55px;
    bottom: -95px;
    width: 100px;
}
    .arow1 {
    margin: 0;
    position: absolute;
    bottom: 221px;
    left: 92px;
    width: 73px;
    height: 128px;
}
    .giftcard {
        background-position: bottom;
    }
    .zapolni {
        font-size: 15px;
    }
    .udiv {
        font-size: 17px;
    }
    .revimgo img {
        width: 64px!important;
    }
    .tolkoostz {
        font-size: 20px;
    }
    .zakl {
        font-size: 14px;
    }
    .madebyu span {
    display: block;
    margin-left: 65px;
    margin-top: -37px;
    font-size: 13px;
}
    .svast {
    width: 650px;
    height: 650px;
    position: relative;
    z-index: 100000;
    border-radius: 50%;
    background-color: #191d29;
    margin: 0px auto 0px auto;
    margin: 71px 0px 0px -84px;
}
}
@media screen and (max-width:991px) {
.nopadl {
padding-left: 15px;
}
    .sbi-waves {
        display: none!important;
    }
    section {
        zoom: 100%!important;
    }
    body {
        zoom: 100%!important;
    }
    .svast {
        width: 100%;
        height: auto;
        background: none;
        margin: 0;
    }
    .submain {
        background: none;
    }
.nopadr {
padding-right: 15px;
}
    .mobc {
    text-align: center!important;
    }
    .onlymob {
    display: block;
}
.nomob {
    display: none!important;
}
    .margcl {
        margin: 0;
    }
    .mobsl {
        margin-left: 0;
        margin-right: 0;
    }
    .adr {
            text-align: center;
    padding-left: 0;
    }
    .main {
        height: auto;
        padding-bottom: 30px;
        background: none;
        background-image: url(../img/bgmobmain.jpg);
        background-size: cover;
        background-position: center;
        background-color: #0b0c10;
    }
    .icnrefr {
        margin-top: 20px;
    }
    .ourpreim {
        padding-top: 35px;
        padding-bottom: 35px;
        margin-top: 0 !important;
            background: none;
    background-color: #dcd0d2;
    }
    .dotbg {
        background: none;
    }
    .prtt {
        margin-bottom: 25px;
    }
    h2 {
        font-size: 33px;
    }
    .mamemy {
        font-size: 20px;
    }
    .partnersblock {
        display: none;
    }
    .five {
        background: none;
        background-color: #dddbdc;
    }
    .contta > li > a {
        padding-left: 14px;
        padding-right: 14px;
    }
    .arow1, .arow2 {
        display: none;
    }
    .mt200 img {
        margin-top: 0;
    }
    .etapsz {
        background: none;
        background-color: #161921;
    }
    .etapptt {
        margin-bottom: 25px;
    }
    .borderblock {
        text-align: center;
    }
    .zapolni {
        margin-left: auto;
        margin-right: auto;
    }
    .panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a {
        font-size: 15px;
    }
    .otvet {
        font-size: 14px;
    }
    .cont .zapolni {
        margin-top: 10px;
    }
    #kar {
        display: none!important;
    }
    .konsa {
        margin-top: 0;
    }
    .last .topbut {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        display: block;
    }
    .owl-next {
                position: relative;
        left: 0;
        right: 0;
                margin-left: 6px;
        margin-right: 6px;
        top: 0;
        display: inline-block;
    }
    .owl-prev {
        position: relative;
        left: 0;
        right: 0;
        margin-left: 6px;
        margin-right: 6px;
        top: 0;
        display: inline-block;
    }
    .owl-nav {
        text-align: center;
        margin-top: 20px;
    }
}
@media screen and (max-width:750px) {
    .atmosferimg {
        height: 450px;
    }
    .thumbs {
        display: none!important;
    }
    .formmod {
        background: none;
        padding: 16px;
        padding-top: 35px;
        background-color: #0d1018;
        min-height: auto;
    }
    .sotz {
        font-size: 22px;
    }
    .andweclyou {
        font-size: 14px;
    }
    .close {
        margin-top: -30px;
    }
}
@media screen and (max-width:500px) {
    h1 span {
        font-size: 28px;
    }
    .in1 {
        display: block;
        width: 100%;
        max-width: 100%;
        margin-top: 20px;
    }
    button {
        width: 100%!important;
        max-width: 100%!important
    }
    
    .ett {
        margin-bottom: 20px;
    }
    .pricebody {
        padding-left: 15px;
        padding-right: 15px;
    }
    h2 {
        font-size: 23px;
    }
    .giftworkt {
        font-size: 18px;
    }
    .skidka .getskid {
        font-size: 20px;
    }
    .udiv {
        font-size: 14px;
    }
    .udiv br {
        display: none;
    }
    .panel-body {
        background-image: none;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .panel-heading {
        padding-left: 15px!important;
        padding-right: 15px!important;
        padding-top: 20px!important;
        padding-bottom: 20px!important;
    }
    .panel-title > a > span {
        display: none;
    }
    .zakl br {
        display: none;
    }
    .topvars {
        margin-top: 20px;
    }
    .topvars li {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        padding-left: 0;
        margin-left: 0;
    }
    h1, h1 span {
        font-size: 20px!important
    }
    button {
        background-image: none!important;
        padding-left: 0 !important;
    }
    .row {
        margin-top: 0 !important;
    }
    .madebyu img {
width: 100%;}
    .borderblock {
        padding-left: 16px;
        padding-right: 16px;
    }
    .atmosferimg {
        height: 260px;
    }
    .five iframe {
        height: 250px !important;
    }
    .adr {
        font-size: 12px;
    }
    .row.onlymob.mt40 {
        margin-top: 25px !important;
    }
    .whatis {
        font-size: 20px
    }
    .descriptitpls {
        font-size: 14px;
    }
}
