.review {
  
    
}

@include media-breakpoint-down(sm) {
    
    .container .row .col-lg-6.mx-auto {
	
        .text-center {
            font-size: 30px;
        }
        
        .review {
            
            h3 {
                font-size: 18px;
            }
            
            p {
                font-size: 14px;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .text-center {
        font-size: 30px;
    }
}

@include media-breakpoint-down(xl) {
    .text-center {
        font-size: 30px;
    }
}
