@import '../fonts/font.css';

$gray: #777777;
$blue: #00BFF3;
$white: #fff;
$black: #000;
$hover: #CB0000;

@mixin flex-centrer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    padding: 0;
    margin: 0;
}

menu, p, a  {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.centrer {
    width: 1040px;
    @include flex-centrer;
    flex-direction: column;
    margin: 0 auto;
}

.header-hr {
    width: 293px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-self: flex-start;
    padding: 0;
    margin: 0;
    margin-top: -35px;
    margin-bottom: 30px;
    opacity: 0.5;
}

.extreme-hr {
	width: 262px;
    justify-self: flex-start;
    padding: 0;
    margin: 0;
    opacity: 0.5;
}

.before-footer {
	width: 100%;
    margin-bottom: 24px;
}

.menu {
    height: 104px; 
    @include flex-centrer;
    margin-bottom: 24px;
    background: $blue;
    
    .menu-centrer {
        width: 1040px;
        @include flex-centrer;
        justify-content: space-between;
        
        .logo-block,
        .tel-block,
        .social-block {
            @include flex-centrer;
        }
         
        .logo-block {
            
            .logo-desc {
                width: 130px;
                margin-left: 22px;
                font-family: Arial;
                font-size: 16px;
                text-align: center;
                color: $white;
                align-self: flex-end;
            }
        }
        
        .tel-block {
            font-family: Arial;
            
            .tel-numb {
                margin-right: 26px;
	            font-size: 30px;
                color: $white;
            }
            
            .tel-desc {
                font-size: 16px;
                color: $white;
            }
        }
        
        .social-block {
            width: 112px;
	        justify-content: space-between;
        }
    }
}

.header {
    position: relative;
    margin-bottom: 55px;
    
    .img-desc {
        position: absolute;
        right: 100px;
        width: 160px;

        span {
            font-family: Trebuchet MS;
            font-weight: bold;
            font-size: 88px;
            text-transform: uppercase;
            color: $gray;
        }

        p {
            font-family: Arial;
            font-size: 30px;
            text-align: center;
        }
    }
    
    .hotel-block {
        @include flex-centrer;
        justify-content: flex-start;
	    

        
        .hotel-name {
            font-family: Trebuchet MS;
            font-weight: bold;
            font-size: 35px;
            color: $black;
            margin-right: 20px;
        }
        
        .hotel-price {
	        font-family: Trebuchet MS;
            font-weight: bold;
            font-size: 35px;
            text-align: center;
            color: $black;
            margin-left: 20px;
        }
    }
    
    .stat-block {
        @include flex-centrer;
        justify-content: flex-start;
	    
        .block-desc {
            width: 90px;
	        font-family: Arial;
            font-size: 14px;
            margin-right: 35px;
            
            span {
                font-weight: bold;
            }
        }
        
        .global-rate {
            width: 52px;
            height: 52px;
            @include flex-centrer;
	        font-family: Trebuchet MS;
            font-weight: bold;
            text-align: center;
            font-size: 24px;
            color: $white;
            background: $blue;
            margin-right: 32px;
        }
        
        .stat-inf {
            margin-right: 16px;
            
	        .inf-title {
	            font-family: Arial;
                font-size: 12px;
                text-transform: uppercase;
            }
            
            .rait-val {
	            font-family: Arial;
                font-weight: bold;
                font-size: 18px;
                text-transform: uppercase;
            }
        }
    }
}

.extreme {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
	
    .extreme-card {
        width: 500px;
        
        .card-img {
	        margin-bottom: 25px;
        }
        
        .card-header {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: space-between;
            align-items: center;
	        
            .title {
	            font-family: Trebuchet MS;
                font-weight: bold;
                font-size: 35px;
                &:hover {
                    color: $hover;
                }
            }
            
            .price-block {
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
	            .price {
                    font-family: Trebuchet MS;
                    font-weight: bold;
                    font-size: 35px;
                    margin-bottom: 5px;
                }
                
                .old-price {
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: -o-flex;
                    display: flex;
                    justify-content: flex-end;  
                    
                    font-family: Trebuchet MS;
                    font-size: 20px;
                    text-decoration: line-through;
                    text-decoration-color: $hover;
                    color: $gray;
                }
            }
        }
        
        .card-desc {
	        font-family: Arial;
            font-size: 14px;
            margin-top: 10px;
        }
        
    }
}

.main-inf {
	font-family: Arial;
    line-height: 19px;
    font-size: 14px;
    
    .title {
	    font-family: Trebuchet MS;
        font-weight: bold;
        line-height: 52px;
        font-size: 50px;
        margin: 0;
        margin-top: 65px;
        margin-bottom: 25px;
    }
    
    .text-wrap {
	    width: 776px;
        
        .title-desc {
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 20px;
        }
        
        .sub-title {
            font-weight: bold;
            font-size: 22px;
            margin: 0;
            margin-top: 25px;
            margin-bottom: 10px;
        }
        
        .note {
            height: 120px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
            padding-left: 16px;
            margin: 25px 0 25px 48px;
            font-style: italic;
	        border-left: 8px solid $blue;
        }
        
        .sub-tit {
            font-weight: bold;
            font-size: 16px;
            margin: 19px 0 6px 0;
        }
        
        .text {
	        padding-bottom: 20px;
        }
        
        .table {
            width: 100%;
            margin-bottom: 30px;
            
            .first {
                font-weight: bold;
                color: $black;
	            background: lighten( $gray, 40% );
            }
            
            .text-bold {
	            font-weight: bold;
            }
        }
        
        .text-list {
	        padding: 0;
            padding-left: 10px;
            margin: 0;
            margin-top: -13px;
            margin-bottom: 44px;
            list-style-type: none;
            
            li {
                margin-bottom: 5px;
            }
        }
    }
}

.footer {
    width: 100%; 
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
    justify-content: space-between;
    
    .copy {
	    font-family: Arial;
        line-height: 17px;
        font-size: 12px;
        
        a {
            color: $blue;
        }
    }
    
    .social {
	    margin-left: 10px;
    }
}