@import url(../fonts/font.css);
html, body {
  padding: 0;
  margin: 0; }

menu, p, a {
  padding: 0;
  margin: 0;
  text-decoration: none; }

.centrer {
  width: 1040px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto; }

.header-hr {
  width: 293px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-start;
  padding: 0;
  margin: 0;
  margin-top: -35px;
  margin-bottom: 30px;
  opacity: 0.5; }

.extreme-hr {
  width: 262px;
  justify-self: flex-start;
  padding: 0;
  margin: 0;
  opacity: 0.5; }

.before-footer {
  width: 100%;
  margin-bottom: 24px; }

.menu {
  height: 104px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 24px;
  background: #00BFF3; }
  .menu .menu-centrer {
    width: 1040px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .menu .menu-centrer .logo-block,
    .menu .menu-centrer .tel-block,
    .menu .menu-centrer .social-block {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .menu .menu-centrer .logo-block .logo-desc {
      width: 130px;
      margin-left: 22px;
      font-family: Arial;
      font-size: 16px;
      text-align: center;
      color: #fff;
      -ms-flex-item-align: end;
      align-self: flex-end; }
    .menu .menu-centrer .tel-block {
      font-family: Arial; }
      .menu .menu-centrer .tel-block .tel-numb {
        margin-right: 26px;
        font-size: 30px;
        color: #fff; }
      .menu .menu-centrer .tel-block .tel-desc {
        font-size: 16px;
        color: #fff; }
    .menu .menu-centrer .social-block {
      width: 112px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }

.header {
  position: relative;
  margin-bottom: 55px; }
  .header .img-desc {
    position: absolute;
    right: 100px;
    width: 160px; }
    .header .img-desc span {
      font-family: Trebuchet MS;
      font-weight: bold;
      font-size: 88px;
      text-transform: uppercase;
      color: #777777; }
    .header .img-desc p {
      font-family: Arial;
      font-size: 30px;
      text-align: center; }
  .header .hotel-block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .header .hotel-block .hotel-name {
      font-family: Trebuchet MS;
      font-weight: bold;
      font-size: 35px;
      color: #000;
      margin-right: 20px; }
    .header .hotel-block .hotel-price {
      font-family: Trebuchet MS;
      font-weight: bold;
      font-size: 35px;
      text-align: center;
      color: #000;
      margin-left: 20px; }
  .header .stat-block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .header .stat-block .block-desc {
      width: 90px;
      font-family: Arial;
      font-size: 14px;
      margin-right: 35px; }
      .header .stat-block .block-desc span {
        font-weight: bold; }
    .header .stat-block .global-rate {
      width: 52px;
      height: 52px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-family: Trebuchet MS;
      font-weight: bold;
      text-align: center;
      font-size: 24px;
      color: #fff;
      background: #00BFF3;
      margin-right: 32px; }
    .header .stat-block .stat-inf {
      margin-right: 16px; }
      .header .stat-block .stat-inf .inf-title {
        font-family: Arial;
        font-size: 12px;
        text-transform: uppercase; }
      .header .stat-block .stat-inf .rait-val {
        font-family: Arial;
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase; }

.extreme {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .extreme .extreme-card {
    width: 500px; }
    .extreme .extreme-card .card-img {
      margin-bottom: 25px; }
    .extreme .extreme-card .card-header {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .extreme .extreme-card .card-header .title {
        font-family: Trebuchet MS;
        font-weight: bold;
        font-size: 35px; }
        .extreme .extreme-card .card-header .title:hover {
          color: #CB0000; }
      .extreme .extreme-card .card-header .price-block {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .extreme .extreme-card .card-header .price-block .price {
          font-family: Trebuchet MS;
          font-weight: bold;
          font-size: 35px;
          margin-bottom: 5px; }
        .extreme .extreme-card .card-header .price-block .old-price {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: end;
          -ms-flex-pack: end;
          justify-content: flex-end;
          font-family: Trebuchet MS;
          font-size: 20px;
          text-decoration: line-through;
          -webkit-text-decoration-color: #CB0000;
          text-decoration-color: #CB0000;
          color: #777777; }
    .extreme .extreme-card .card-desc {
      font-family: Arial;
      font-size: 14px;
      margin-top: 10px; }

.main-inf {
  font-family: Arial;
  line-height: 19px;
  font-size: 14px; }
  .main-inf .title {
    font-family: Trebuchet MS;
    font-weight: bold;
    line-height: 52px;
    font-size: 50px;
    margin: 0;
    margin-top: 65px;
    margin-bottom: 25px; }
  .main-inf .text-wrap {
    width: 776px; }
    .main-inf .text-wrap .title-desc {
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 20px; }
    .main-inf .text-wrap .sub-title {
      font-weight: bold;
      font-size: 22px;
      margin: 0;
      margin-top: 25px;
      margin-bottom: 10px; }
    .main-inf .text-wrap .note {
      height: 120px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-left: 16px;
      margin: 25px 0 25px 48px;
      font-style: italic;
      border-left: 8px solid #00BFF3; }
    .main-inf .text-wrap .sub-tit {
      font-weight: bold;
      font-size: 16px;
      margin: 19px 0 6px 0; }
    .main-inf .text-wrap .text {
      padding-bottom: 20px; }
    .main-inf .text-wrap .table {
      width: 100%;
      margin-bottom: 30px; }
      .main-inf .text-wrap .table .first {
        font-weight: bold;
        color: #000;
        background: #dddddd; }
      .main-inf .text-wrap .table .text-bold {
        font-weight: bold; }
    .main-inf .text-wrap .text-list {
      padding: 0;
      padding-left: 10px;
      margin: 0;
      margin-top: -13px;
      margin-bottom: 44px;
      list-style-type: none; }
      .main-inf .text-wrap .text-list li {
        margin-bottom: 5px; }

.footer {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .footer .copy {
    font-family: Arial;
    line-height: 17px;
    font-size: 12px; }
    .footer .copy a {
      color: #00BFF3; }
  .footer .social {
    margin-left: 10px; }
