@font-face {
    font-family: "reg";
    src: url("../fonts/ProximaNovaRegular.eot");
    src: url("../fonts/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/ProximaNovaRegular.woff") format("woff"), url("../fonts/ProximaNovaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "extrab";
    src: url("../fonts/ProximaNovaExtrabold.eot");
    src: url("../fonts/ProximaNovaExtrabold.eot?#iefix")format("embedded-opentype"), url("../fonts/ProximaNovaExtrabold.woff") format("woff"), url("../fonts/ProximaNovaExtrabold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "light";
    src: url("../fonts/ProximaNovaLight.eot");
    src: url("../fonts/ProximaNovaLight.eot?#iefix")format("embedded-opentype"), url("../fonts/ProximaNovaLight.woff") format("woff"), url("../fonts/ProximaNovaLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "bold";
    src: url("../fonts/ProximaNova-Bold.eot");
    src: url("../fonts/ProximaNova-Bold.eot?#iefix")format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "bold";
    src: url("../fonts/ProximaNova-Bold.eot");
    src: url("../fonts/ProximaNova-Bold.eot?#iefix")format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "black";
    src: url("../fonts/ProximaNova-Black.eot");
    src: url("../fonts/ProximaNova-Black.eot?#iefix")format("embedded-opentype"), url("../fonts/ProximaNova-Black.woff") format("woff"), url("../fonts/ProximaNova-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "semib";
    src: url("../fonts/ProximaNovaSemibold.eot");
    src: url("../fonts/ProximaNovaSemibold.eot?#iefix")format("embedded-opentype"), url("../fonts/ProximaNovaSemibold.woff") format("woff"), url("../fonts/ProximaNovaSemibold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "thin";
    src: url("../fonts/ProximaNovaThin.eot");
    src: url("../fonts/ProximaNovaThin.eot?#iefix")format("embedded-opentype"), url("../fonts/ProximaNovaThin.woff") format("woff"), url("../fonts/ProximaNovaThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: "reg";
    overflow-x: hidden;

}

.reg {
    font-family: "reg";
}

#vk_comments {
    width: 100%!important;
    margin-top: 28px;
}
#vk_comments iframe {
    width: 100%;
}

.light {
    font-family: "light";
}

.bold {
    font-family: "bold";
}

.extrab {
    font-family: "extrab";
}

.thin {
    font-family: "thin";
}

.black {
    font-family: "black";
}

.semib {
    font-family: "semib";
}

.nopadl {
    padding-left: 0;
}

.nopadr {
    padding-right: 0;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.main {
    background-image: url(../img/bgmain.jpg) ;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1039px;
}
.submain {
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
}

.wt {
    color: #fff;
}

.logo {
    width: 100%;
    max-width: 207px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.adr {
    margin-bottom: 0;
    font-size: 17px;
    padding-top: 10px;
    padding-left: 30px;
}

.topvars {
    display: block;
    width: 100%;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    margin-top: 10px;
}

.topvars > li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;
}

.teltop {
    font-size: 25px;
    margin-bottom: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.main .sendform {
    background-color: #00b7b5;
}
.teltop::before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
    content: '';
    background-image: url(../img/tel.png);
    width: 33px;
    height: 33px;
}

* {
    outline: none!important
}

button {
    transition: 0.3s;
}

.shutupandfixme  {

}
.navb {
    position: relative;
}
.topbut {
    font-size: 17px;
    background: none;
    border: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 10px;
    background-color: rgb(0, 183, 181);
    box-shadow: 1px 1.732px 1px 0px rgba(0, 0, 0, 0.3), inset 0px -3px 0px 0px rgba(0, 0, 0, 0.27);
    width: 216px;
    height: 46px;
}

.topbut:hover {
    background-color: #f6d24d;
}

.topbut:active {
    box-shadow: none;
}

.pt30 {
    padding-top: 30px;
}

h1 {
    margin: 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 40px;
    margin-top: 38px;
    line-height: 1.3;
}

h1 span {
    font-size: 50px;
}

.centrum {
    font-size: 26px;
    color: #f6d24d;
    text-transform: uppercase;
    margin-bottom: 0;
}

.getskid {
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 25px;
    line-height: 1;
    margin-bottom: 20px;
}

.getskid span {
    font-size: 40px;
    position: relative;
}

.getskid span::after {
    content: '';
    display: block;
    position: absolute;
    background-image: url(../img/klaks.png);
    width: 55px;
    height: 17px;
    left: 0;
    bottom: -6px;
}

.onlyost {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 25px;
}

.icnrefr {
    margin-top: 62px;
}

.in1 {
    background: none;
    border: none;
    border-width: 2px;
    border-color: #fff;
    font-size: 18px;
    color: #b5b5b5;
    padding-left: 40px;
    padding-right: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-style: solid;
    border-radius: 15px;
    background-color: transparent;
    width: 100%;
    max-width: 233px;
    height: 51px;
}

.in1:focus {
    color: #000;
    background-color: rgba(255, 255, 255, 0.4);
}

.name {
    background-image: url(../img/name.png);
    background-repeat: no-repeat;
    background-position: 13px 14px;
}

.tel {
    background-image: url(../img/tel1.png);
    background-repeat: no-repeat;
    background-position: 15px -47px;
}

.name:focus {
    background-position: 13px -24px;
}

.tel:focus {
    background-position: 15px 10px;
}

.in1::-webkit-input-placeholder {
    color: #b5b5b5;
}

.in1::-moz-placeholder {
    color: #b5b5b5;
}


/* Firefox 19+ */

.in1:-moz-placeholder {
    color: #b5b5b5;
}


/* Firefox 18- */

.in1:-ms-input-placeholder {
    color: #b5b5b5;
}

.in1:focus::-webkit-input-placeholder {
    color: #000;
}

.in1:focus::-moz-placeholder {
    color: #000;
}


/* Firefox 19+ */

.in1:focus:-moz-placeholder {
    color: #000;
}


/* Firefox 18- */

.in1:focus:-ms-input-placeholder {
    color: #000;
}

.onlymob {
    display: none;
}

.nomob {
    display: block;
}

.ett {
    font-size: 20px;
    margin-top: 14px;
    margin-bottom: 0;
}

.mt40 {
    margin-top: 40px;
}

.margcl {
    margin-left: -22px;
    margin-right: 2px;
}

.sendform {
    background: none;
    border: none;
    font-size: 21px;
    color: #fff;
    text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.36);
    text-transform: uppercase;
    border-radius: 15px;
    background-color: rgb(215, 36, 70);
    box-shadow: 1px 1.732px 1px 0px rgba(0, 0, 0, 0.3), inset 0px -3px 0px 0px rgba(0, 0, 0, 0.27);
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 311px;
    transition: 0s;
    margin-top: 40px;
    height: 78px;
    background-repeat: no-repeat;
    background-image: url(../img/icns/check.png);
    background-position: 40px 28px;
    padding-left: 40px;
}

.sendform:hover {
    background-color: #f6d24d;
    color: #000;
    background-position: 40px -29px;
}

.sendform:focus {
    box-shadow: none;
}

.icndown {
    margin-top: 40px;
}

.smallogo {
    max-width: 127px;
}

.shutupandfixme {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #28262e;
}

.fixnav {
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    margin-top: 12px;
}

.fixnav > li {
    display: inline-block;
    vertical-align: middle;
}

.fixnav > li > a {
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none!important;
    display: inline-block;
    transition: 0.3s;
    z-index: 1000000;
    position: relative;
}

.fixnav > li > a::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    transition: 0.3s;
    width: 0%;
    bottom: -4px;
    height: 3px;
    background-color: transparent;
}

.fixnav > li::after {
    display: inline-block;
    vertical-align: middle;
    content: '/';
    font-size: 21px;
    color: rgba(255, 255, 255, 0.40);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -2px;
    font-family: "light";
}

.fixnav > li:last-child::after {
    display: none;
}

.fixnav > li > a:hover {
    color: #16dfdd;
}

.fixnav > li > a:hover::after {
    background-color: #00b7b5;
    width: 66%;
}

.fixnav > li.active > a {
    color: #16dfdd;
}

.fixnav > li.active > a::after {
    background-color: #00b7b5;
    width: 66%;
}
.hidme {
    display: none!important;
}


.shutupandfixme .teltop {
    margin-top: 8px;
    display: block;
}

h2 {
    margin: 0;
    text-transform: uppercase;
    line-height: 1.2;
    color: #1e1e1e;
    font-size: 42px;
}

h2 span {
    font-family: "bold"
}

.ourpreim {
    background-image: url(../img/bg2.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 80px;
    position: relative;
    z-index: 100000;
    padding-bottom: 70px;
}

.preimpol1 {
    margin-top: 60px;
}

.prtt {
    margin-bottom: 0;
    font-size: 19px;
    margin-top: 10px;
}

.preimpol2 {
    position: relative;
    top: -37px;
}

.preimpol3 {
    top: -55px;
    position: relative;
}

.mamemy {
    margin-bottom: 0;
    font-size: 28px;
}

.bluelin {
    background-color: #00b7b5;
    width: 100%;
    display: block;
    max-width: 131px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -21px;
    margin-bottom: 24px;
}

.partnersblock {
    background-color: #181c23;
    padding-top: 70px;
    padding-bottom: 70px;
}

.partwrap {
    background-image: url(../img/partbg.png);
    background-repeat: repeat-x;
    min-height: 144px;
    margin-top: 50px;
}

.partners {
    padding-left: 0;
    margin-bottom: 0;
    text-align: center;
    list-style-type: none;
}

.partners > li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: middle;
}

.pp {
    display: table;
    width: 100%;
    height: 130px;
}

.pp > span {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.mt20 .pp {
    margin-top: 2px;
    margin-bottom: -20px;
}

.dotbg {
    background-image: url(../img/partners/dotsbg.png);
    background-repeat: no-repeat;
    background-position: 50% 26%;
}

.four {
    background-image: url(../img/bg3.jpg);
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 100px;
}

.suph2 {
    margin-bottom: 0;
    font-size: 20px;
    margin-top: 20px;
}

.zaphead {
    background-image: url(../img/headzap.jpg);
    background-position: center;
    background-size: 100% 100%;
    border-radius: 5px;
    padding-top: 35px;
    padding-bottom: 30px;
}

.whatis {
    margin-top: 15px;
    font-size: 30px;
}

.descriptitpls {
    font-size: 17px;
}

.zapises {
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.50);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.549);
    padding-bottom: 30px;
    margin-top: 40px;
}

.whatpesna {
    font-size: 17px;
    text-align: center;
    margin-top: 23px;
    margin-bottom: 6px;
    text-align: left;
}

audio {
    width: 100%;
}

.zapbody {
    padding-left: 20px;
    padding-right: 20px;
}

.audioplayer {
    height: 30px;
    /* 40 */
    color: #fff;
    text-shadow: none;
    ;
    border: none;
    position: relative;
    z-index: 1;
    background: #29272f;
}



/* mini mode (fallback) */

.audioplayer-mini {
    width: 2.5em;
    /* 40 */
    margin: 0 auto;
}


/* player elements: play/pause and volume buttons, played/duration timers, progress bar of loaded/played */

.audioplayer > div {
    position: absolute;
}


/* play/pause button */

.audioplayer-playpause {
    width: 2.5em;
    /* 40 */
    height: 100%;
    text-align: left;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 2;
    top: 0;
    left: 0;
}

.audioplayer:not(.audioplayer-mini) .audioplayer-playpause {
    border-right: 1px solid #555;
    border-right-color: rgba( 255, 255, 255, .1);
}

.audioplayer-mini .audioplayer-playpause {
    width: 100%;
}

.audioplayer-playpause:hover,
.audioplayer-playpause:focus {
    background-color: #222;
}

.audioplayer-playpause a {
    display: block;
}

.audioplayer-stopped .audioplayer-playpause a {
    width: 0;
    height: 0;
    border: 0.5em solid transparent;
    /* 8 */
    border-right: none;
    border-left-color: #fff;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.5em 0 0 -0.25em;
    /* 8 4 */
}

.audioplayer-playing .audioplayer-playpause a {
    width: 0.75em;
    /* 12 */
    height: 0.75em;
    /* 12 */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.375em 0 0 -0.375em;
    /* 6 */
}

.audioplayer-playing .audioplayer-playpause a:before,
.audioplayer-playing .audioplayer-playpause a:after {
    width: 40%;
    height: 100%;
    background-color: #fff;
    content: '';
    position: absolute;
    top: 0;
}

.audioplayer-playing .audioplayer-playpause a:before {
    left: 0;
}

.audioplayer-playing .audioplayer-playpause a:after {
    right: 0;
}


/* timers */

.audioplayer-time {
    width: 4.375em;
    /* 70 */
    height: 100%;
    line-height: 2.375em;
    /* 38 */
    text-align: center;
    z-index: 2;
    top: 0;
}

.audioplayer-time-current {
    border-left: 1px solid #111;
    border-left-color: rgba( 0, 0, 0, .25);
    left: 2.5em;
    /* 40 */
}

.audioplayer-time-duration {
    border-right: 1px solid #555;
    border-right-color: rgba( 255, 255, 255, .1);
    right: 2.5em;
    /* 40 */
}

.audioplayer-novolume .audioplayer-time-duration {
    border-right: 0;
    right: 0;
}


/* progress bar of loaded/played */

.audioplayer-bar {
    height: 0.875em;
    /* 14 */
    background-color: #222;
    cursor: pointer;
    z-index: 1;
    top: 50%;
    right: 6.875em;
    /* 110 */
    left: 6.875em;
    /* 110 */
    margin-top: -0.438em;
    /* 7 */
}

.audioplayer-novolume .audioplayer-bar {
    right: 4.375em;
    /* 70 */
}

.audioplayer-bar div {
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.audioplayer-bar-loaded {
    background-color: #333;
    z-index: 1;
}

.audioplayer-bar-played {
    background: #007fd1;
    z-index: 2;
}


/* volume button */

.audioplayer-volume {
    width: 2.5em;
    /* 40 */
    height: 100%;
    border-left: 1px solid #111;
    border-left-color: rgba( 0, 0, 0, .25);
    text-align: left;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 2;
    top: 0;
    right: 0;
}

.audioplayer-volume:hover,
.audioplayer-volume:focus {
    background-color: #222;
}

.audioplayer-volume-button {
    width: 100%;
    height: 100%;
}

.audioplayer-volume-button a {
    width: 0.313em;
    /* 5 */
    height: 0.375em;
    /* 6 */
    background-color: #fff;
    display: block;
    position: relative;
    z-index: 1;
    top: 40%;
    left: 35%;
}

.audioplayer-volume-button a:before,
.audioplayer-volume-button a:after {
    content: '';
    position: absolute;
}

.audioplayer-volume-button a:before {
    width: 0;
    height: 0;
    border: 0.5em solid transparent;
    /* 8 */
    border-left: none;
    border-right-color: #fff;
    z-index: 2;
    top: 50%;
    right: -0.25em;
    margin-top: -0.5em;
    /* 8 */
}

.audioplayer:not(.audioplayer-muted) .audioplayer-volume-button a:after {
    /* "volume" icon by Nicolas Gallagher, http://nicolasgallagher.com/pure-css-gui-icons */
    width: 0.313em;
    /* 5 */
    height: 0.313em;
    /* 5 */
    border: 0.25em double #fff;
    /* 4 */
    border-width: 0.25em 0.25em 0 0;
    /* 4 */
    left: 0.563em;
    /* 9 */
    top: -0.063em;
    /* 1 */
    -webkit-border-radius: 0 0.938em 0 0;
    /* 15 */
    -moz-border-radius: 0 0.938em 0 0;
    /* 15 */
    border-radius: 0 0.938em 0 0;
    /* 15 */
    -webkit-transform: rotate( 45deg);
    -moz-transform: rotate( 45deg);
    -ms-transform: rotate( 45deg);
    -o-transform: rotate( 45deg);
    transform: rotate( 45deg);
}


/* volume dropdown */

.audioplayer-volume-adjust {
    height: 6.25em;
    /* 100 */
    cursor: default;
    position: absolute;
    left: 0;
    right: -1px;
    top: -9999px;
    background: #333;
}

.audioplayer-volume:not(:hover) .audioplayer-volume-adjust {
    opacity: 0;
}

.audioplayer-volume:hover .audioplayer-volume-adjust {
    top: auto;
    bottom: 100%;
}

.audioplayer-volume-adjust > div {
    width: 40%;
    height: 80%;
    background-color: #222;
    cursor: pointer;
    position: relative;
    z-index: 1;
    margin: 30% auto 0;
}

.audioplayer-volume-adjust div div {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #007fd1;
}

.audioplayer-novolume .audioplayer-volume {
    display: none;
}

.audioplayer {}

.audioplayer-volume-adjust {}

.audioplayer-bar,
.audioplayer-volume-adjust > div {}

.audioplayer-volume-adjust div div,
.audioplayer-bar-played {
    background-color: #fff;
    border-radius: 0px!important;
}

.audioplayer-playpause,
.audioplayer-volume a {}

.audioplayer,
.audioplayer-volume-adjust {}

.audioplayer-bar-played {}

.audioplayer-volume-adjust div div {
    background: -webkit-gradient( linear, left bottom, left top, from( #007fd1), to( #c600ff));
    background: -webkit-linear-gradient( bottom, #007fd1, #c600ff);
    background: -moz-linear-gradient( bottom, #007fd1, #c600ff);
    background: -ms-radial-gradient( bottom, #007fd1, #c600ff);
    background: -o-linear-gradient( bottom, #007fd1, #c600ff);
    background: linear-gradient( to top, #007fd1, #c600ff);
}

.audioplayer-bar,
.audioplayer-bar div,
.audioplayer-volume-adjust div {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.audioplayer {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.audioplayer-volume-adjust {
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.audioplayer *,
.audioplayer *:before,
.audioplayer *:after {
    -webkit-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
    -moz-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
    -ms-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
    -o-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
    transition: color .25s ease, background-color .25s ease, opacity .5s ease;
}


/* responsiveness */

@media only screen and ( max-width: 32.5em)
/* 520 */

{
    body {
        -webkit-box-shadow: inset 0 0 9.375em rgba( 0, 0, 0, .5);
        /* 150 */
        -moz-box-shadow: inset 0 0 9.375em rgba( 0, 0, 0, 5);
        /* 150 */
        box-shadow: inset 0 0 9.375em rgba( 0, 0, 0, .5);
        /* 150 */
    }
    #wrapper {
        width: 100%;
        height: auto;
        position: static;
        padding: 1.25em;
        /* 20 */
        margin: 0;
    }
}

.audioplayer-bar-loaded {
    background-color: #6f6e73;
    z-index: 1;
    height: 4px!important;
    top: 4px!important;
    border-radius: 0px!important;
}

.audioplayer-bar-played {
    background-color: #fff;
    border-radius: 0px!important;
    height: 4px!important;
    top: 4px!important;
}

.audioplayer-playpause {
    background-image: url(../img/play.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
}

.audioplayer-playing .audioplayer-playpause {
    background: none;
}
.zaphead img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
}
.five {
    background-image: url(../img/bg4.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-top: 85px;
    background-size: cover;
    padding-bottom: 100px;
}
.vidyt {
    margin-top: 30px;
}

.vidyt iframe {
    border: 10px solid #ffc449;
}
.mt30 {
    margin-top: 30px;
}
.ouruslugs {
    background-image: url(../img/bg5.jpg);
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
}
.contta {
    text-align: center;
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}
.contta > li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-left: -4px;
}
.contta > li > a {
    font-size: 18px;
    color: #ffffff!important;
    text-decoration: none!important;
    padding-left: 50px;
    padding-right: 50px;
    display: block;
    padding-top: 25px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    min-width: 200px;
    padding-bottom: 20px;
    height: 118px;
}
.controlus {
    background-color: #211f25;
    margin-top: 65px;
    margin-bottom: 60px;
}
.contta > li.active > a {
    color: #1e1e1e!important;
    font-family: "reg"!important
}
.contta > li.active {
    background-color: #16dfdd!important;
}
.ics1 {
    background-image: url(../img/icns/smic/1.png);
    height: 22px;
}
.ics2 {
    background-image: url(../img/icns/smic/2.png);
    height: 23px;
}
.ics3 {
    background-image: url(../img/icns/smic/3.png);
    height: 19px;
}
.ics4 {
    background-image: url(../img/icns/smic/4.png);
    height: 19px;
}
.ics5 {
    background-image: url(../img/icns/smic/5.png);
    height: 22px;
}
.icnnav {
    display: block;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 9px;
    height: 23px !important;
}
.contta > li:hover > a > .ics1   {
    background-image: url(../img/icns/smic/11.png);
}
.contta > li:hover > a > .ics2   {
    background-image: url(../img/icns/smic/22.png);
}
.contta > li:hover > a > .ics3   {
    background-image: url(../img/icns/smic/33.png);
}
.contta > li:hover > a > .ics4   {
    background-image: url(../img/icns/smic/44.png);
}
.contta > li:hover > a > .ics5   {
    background-image: url(../img/icns/smic/55.png);
}

.contta > li.active .ics1 {
    background-image: url(../img/icns/smic/1_1.png)!important;
}
.contta > li.active .ics2 {
    background-image: url(../img/icns/smic/2_2.png)!important;
}
.contta > li.active .ics3 {
    background-image: url(../img/icns/smic/3_3.png)!important;
}
.contta > li.active .ics4 {
    background-image: url(../img/icns/smic/4_4.png)!important;
}
.contta > li.active .ics5 {
    background-image: url(../img/icns/smic/5_5.png)!important;
}

.numattlestr {
        font-size: 30px;
    color: #1e1e1e;
    display: inline-block;
    vertical-align: baseline;
}
.numattlestr span {
color: #d8d8d8;
    font-size: 50px;
    display: inline-block;
    margin-right: 25px;
    vertical-align: baseline;
}
.pricewrap {
    position: relative;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    margin-top: 50px;
}
.pricehead {
    padding-top: 35px;
    padding-bottom: 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../img/headzap.jpg);
}
.pricettle {
    font-size: 18px;
        color: #1e1e1e
}
.priceprice {
    font-size: 40px;
    color: #1e1e1e;
    margin-bottom: 0;
}
.priceprice span {
    font-size: 30px;
}
.pricebody {
    min-height: 460px;
}
.whatinclud {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}
.whatinclud li {
    display: block;
    font-size: 16px;
    color: #1e1e1e;
    margin-top: 20px;
}
.zakaztoo {
background-image: none;
padding-left: 0;
max-width: 230px;
width: 100%;
display: block;
margin-left: auto;
margin-right: auto;
height: 62px;
    border-radius: 10px;
}
.mt20 {
    margin-top: 20px;
}
.etapsz {
    background-image: url(../img/bg6.jpg);
    background-size: cover;
    background-color: #161921;
    padding-top: 80px;
    padding-bottom: 80px;
}
.etapptt {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 8px;
    text-align: center;
}
.etapimg {
    width: 100%;
    max-width: 155px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mt50 {
    margin-top: 50px;
}
.mt200 img {
    margin-top: 220px;
}
.arow1 {
    margin: 0;
    position: absolute;
    bottom: 248px;
    left: 92px;
}
.arow2 {
    margin: 0;
    position: absolute;
    left: 55px;
    bottom: -101px;
}
.atmosfere {
    background-image: url(../img/bg7.jpg);
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 4px solid #930c6c;
}
.atmosferimg {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 488px;
    padding: 17px;
    background-repeat: no-repeat;
    width: 92%;
    margin: 0 auto;
    
}
@media screen and (max-width:991px) {
    .atmosferimg { 
    position: relative;
    background-size: cover;
    background-position: center;
    height: 488px;
    padding: 17px;
    background-repeat: no-repeat;
    width: 92%;
    margin: 0 auto;
    
} 
}
.atmosferimg span {
    position: absolute;
    border: 7px solid #f6d24d;
    width: calc(100% - 34px);
    border-radius: 5px;
    height: calc(100% - 34px);
}
.atmosferthumb {
    display: block;
    position: relative;
    height: 158px;
    background-size: cover;
    background-position: center;
}
.atmosferthumb span {
    background-image: url(../img/bgcenter.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background-size: calc(100% - 22px) calc(100% - 22px);
    top: 0;
    opacity: 0;
}
.thumbs .owl-item.active.center .atmosferthumb span  {
    opacity: 1;
}
.thumbs {
    margin-top: 12px;
}
.giftworkt {
    font-size: 25px;
    color: #1e1e1e;
    margin-bottom: 0;
}
.giftcard {
    background-image: url(../img/bgca.jpg);
    background-size: cover;
        padding-top: 80px;
    padding-bottom: 100px;
}
.certificat {
    max-width: 876px;
    width: 100%;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.borderblock {
    border: 6px solid #f6d24d;
    padding: 35px;
}
.skidka {
    background-image: url(../img/akce.jpg);
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
}
.skidka .getskid {
    font-size: 38px;
    margin-top: 0;
    margin-bottom: 20px;
}
.skidka .getskid span {
    font-size: 48px;
}
.udiv {
    font-size: 18px;
}
.tolkoostz {
    font-size: 27px;
    margin-bottom: 0;
}
.zapolni {
    background-color: #00b7b5;
    margin-top: 30px;
    font-size: 20px;
    width: 100%;
    margin-left: initial;
}
.revwrap {
    background-image: url(../img/rev.jpg);
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 100px;
}
.owlrevwrap img {
    width: auto!important;
}
.revwrapo {
  background-color: #fff;
    padding: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.21);
}
.owlrevwrap {
    margin-top: 70px;
}
.revimgo {
    display: inline-block;
    vertical-align: middle;
}
.revdatao {
        display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.nameandcit {
    font-size: 17px;
    font-family: "bold";
}
.nameandcit span {
    font-family: "reg";
}
.whatmandid {
    margin-bottom: 0;
}
.revheadero {
    margin-bottom: 30px;
}
.revtext {
    margin-bottom: 0;
    font-size: 15px;
    color: #7e7e7e;
    line-height: 1.2;
    margin-bottom: 30px;
}
.question {
    background-image: url(../img/quest.jpg);
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
}
.panel-default > .panel-heading {
    background-image: url(../img/bghrad.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 0px;
    padding: 35px;
    padding-left: 100px;
    min-height: 114px;
    vertical-align: middle;
    display: table;
    width: 100%;
    border-radius: 5px;
    height: 114px;
}
.panel-group .panel {
    border: none;
    border-radius: 5px;
}
.panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a {
    color: inherit;
    font-size: 20px;
    color: #1e1e1e!important;
    text-decoration: none!important;
}
.panel-title {
        margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    width: 100%;
}
.panel-group .panel + .panel {
    margin-top: 40px;
}
.panel-heading {
    position: relative;
}
.panel-heading::after {
    content: '';
    display: block;
    background-image: url(../img/arow1.png);
    width: 44px;
    height: 25px;
    position: absolute;
    bottom: -22px;
    left: calc(50% - 22px);
}
.panel-title > a > span {
    display: block;
    background-image: url(../img/quest.png);
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 35px;
    top: calc(50% - 23.5px);
}
.otvet {
    font-size: 17px;
    color: #505050;
    margin-bottom: 0;
}
.otvet span {
    color: #505050;
}
.vacancy {
    font-size: 15px;
    color: #505050;
    margin-bottom: 20px;
}
.otvet {
    font-size: 17px;
    color: #505050;
    margin-bottom: 0;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border: none;
}
.panel-body {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-top: 50px;
    background-image: url(../img/answer.png);
    background-repeat: no-repeat;
    background-position: 36px 46px;
}
#accordion {
    margin-top: 60px;
}
.cont {
    background-image: url(../img/cont.jpg);
    padding-top: 70px;
    padding-bottom: 60px;
    background-position: bottom;
}
.cont .zapolni {
    margin-top: -6px;
}
.cont  .getskid {
    margin-bottom: 3px;
}
.connas {
    margin-bottom: 0;
    font-size: 35px;
    text-transform: uppercase;
    margin-top: 90px;
}
 #kar {
        height:600px;
     position: relative;
     z-index: 10;
        width:100%;
    }
    .gm-style-iw * {
        display: block;
        width: 100%;
    }
    .gm-style-iw h4, .gm-style-iw p {
        margin: 0;
        padding: 0;
    }
    .gm-style-iw a {
        color: #4272db;
    }
.konwrap .col-md-3 {
position: relative;
z-index: 1000;}

.our-place {
    background-color: #1d1e27;
    width: 294px;
    height: 64px;
    display: block;
}

.our-place-slogan {
    color: #fff;
    display: inline-block;
    font-size: 26px;
    margin: 20px 0px 0px 40px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 20px;
}

.map-info {
    width: 240px;
    /*height: 500px;*/
    margin: 0px 20px 20px 20px;
}

.map-adress, .map-phone, .map-mail, .map-vk, .map-fb, .map-inst, .map-logo {
    width: 240px;
    clear: both;
}

.map-adress {
    height: 80px;
    margin-top: 15px;
}

.icon-pic {
    width: 30px;
    float: left;
    height: 50px;
}

.icon-phone {
    width: 30px;
    float: left;
    height: 50px;
}

.icon-phone img {
    margin-left: 10px;
}

.icon-mail {
    width: 30px;
    float: left;
    height: 50px;
}

.icon-mail img {
    margin-left: 10px;
}

.icon-vk {
    width: 30px;
    float: left;
    height: 50px;
}

.icon-vk img {
    margin-left: 10px;
}

.icon-fb {
    width: 30px;
    float: left;
    height: 50px;
}

.icon-fb img {
    margin-left: 10px;
}

.icon-inst {
    width: 30px;
    float: left;
    height: 50px;
}

.icon-inst img {
    margin-left: 10px;
}

/*.icon-pic, .icon-phone, .icon-mail, .icon-vk, .icon-fb, .icon-inst {
    width: 30px;
    float: left;
    height: 50px;
}*/

.our-place-text {
    color: #1d1e27;
    font-size: 16px;
    border-bottom: 1px solid #000;
    float: right;
   /* border-top: 1px solid #000;*/
}

.our-place-adress {
    float: right;
    width: 200px;
    height: 100px;
}

.our-place-phone {
    float: right;
    width: 200px;
    height: 50px;
}

.our-place-mail {
    float: right;
    width: 200px;
    height: 50px;
}

.our-place-vk {
    float: right;
    width: 200px;
    height: 50px;
}

.our-place-fb {
    float: right;
    width: 200px;
    height: 50px;
}

.our-place-inst {
    float: right;
    width: 200px;
    height: 50px;
}

.our-place-logo {
    padding: 10px 0px 0px 25px;
}

.konsa {
    max-width: 323px;
    width: 100%;
    height: 525px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -600px;
    background-color: #ffc449;

}
.last {
    padding-top: 80px;
    padding-bottom: 50px;
}
.stop {
    width: 100%;
}
.vk {
    margin-top: 30px;
}
.fullin {
    background-color: #e5e5e5;
    height: 1px;
    width: 100%;
    display: block;
    margin-top: 30px;
    margin-bottom: 40px;
}
.zakl {
    margin-bottom: 0;
    font-size: 18px;
    color: #1e1e1e;
}
.zaklad {
    width: 100%;
    max-width: 100%;
    font-size: 21px;
    height: 64px;
}
.footlogo {
    max-width: 207px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.havequest {
    display: block;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 23px;
    margin-top: 0;
    font-size: 18px;
    color: #f6d24d!important;
}
.havequest:hover {
    text-decoration: none;
}
.madebyu {
    max-width: 288px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #fff!important;
    text-decoration: none!important;
    margin-top: 12px;
    display: block;
}
footer {
    background-color: #262429;
    padding-top: 40px;
    padding-bottom: 40px;
}
.madebyu span {
        display: block;
    margin-left: 65px;
    margin-top: -43px;
    font-size: 17px;
}
.madebyu:hover {
    opacity: .6;
}
.owl-prev {
    display: block;
    background-image: url(../img/prev.png);
    width: 16px;
    height: 26px;
    position: absolute;
    left: -40px;
    top: calc(50% - 13px);
    text-indent: -9999999px;
}
.owl-next {
    display: block;
    background-image: url(../img/next.png);
    width: 16px;
    height: 26px;
    position: absolute;
    right: -40px;
    top: calc(50% - 13px);  
    text-indent: -9999999px;
}

.owl-prev:hover {
    background-image: url(../img/prev1.png);
}
.owl-next:hover {
    background-image: url(../img/next1.png);
}
.big-images {
    margin-top: 40px;
}
.modal-content {
    background: none;
    border: none;
    box-shadow: none;
}
.formmod {
    background-image: url(../img/bgforma.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 541px;
    min-height: 541px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
}
.sotz {
    text-transform: uppercase;
    font-size: 30px;
}
.andweclyou {
    font-size: 24px;
    margin-bottom: 0;
}
.formmod .in1 {
    display: block;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
}
.formmod .sendform {
    margin-top: 22px;
    margin-bottom: 24px;
}
.close {
        position: absolute;
    opacity: 1;
    float: right;
    display: block;
    width: 100%;
    margin-left: 50px;
    margin-top: -21px;
    z-index: 10000000;
}
.thssa {
    max-width: 291px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#vk_groups {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 30px !important;
}


@font-face {
    font-family: 'si';
    src: url('../fonts/socicon.eot');
    src: url('../fonts/socicon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socicon.woff') format('woff'),
         url('../fonts/socicon.ttf') format('truetype'),
         url('../fonts/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(../fonts/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
    text-align: center;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 29px;
    height: 29px;
    line-height: 29px;
    font-size: 15px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 5px;
    color: #ffffff;
    background-color: none;
}

.soc a:hover {
    z-index: 2;
    opacity: .6;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-vkontakte {
    background-color: #5a7fa6;
}
.soc-vkontakte:before {
    content:';';
}
.soc-instagram {
    background-color: #9c7c6e;
}
.soc-instagram:before {
    content:'x';
}
.soc-youtube {
    background-color: #e02a20;
}
.soc-youtube:before {
    content:'r';
}
.soc-facebook {
    background-color: #3e5b98;
}
.soc-facebook:before {
    content:'b';
}
.soc-google {
    background-color: #d93e2d;
}
.soc-google:before {
    content:'c';
}


@keyframes radar {
    0% {
        transform: scale(0.5);
        opacity: 0.2
    }
    25% {
        transform: scale(0.5);
        opacity: 0.3
    }
    50% {
        transform: scale(1);
        opacity: 0.5
    }
    75% {
        transform: scale(1.5);
        opacity: 0.2
    }
    100% {
        transform: scale(2);
        opacity: 0
    }
}
.sbi-waves {
    position: absolute;
    top: 337px;
    left: calc(50% - 300px);
    z-index: 1;
    display: block;
    width: 600px;
    height: 600px;
    /* margin-top: -141px; */
    z-index: 10;
}
.sbi-waves .wave-item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 600px;
    height: 600px;
    margin: auto;
    background: #1f2028;
    opacity: 0;
    -webkit-animation: radar 4.5s infinite linear;
    -moz-animation: radar 4.5s infinite linear;
    -o-animation: radar 4.5s infinite linear;
    animation: radar 4.5s infinite linear;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -khtml-border-radius: 50%;
    -webkit-border-top-left-radius: 50%;
    -webkit-border-top-right-radius: 50%;
    -webkit-border-bottom-right-radius: 50%;
    -webkit-border-bottom-left-radius: 50%
}

 .sbi-waves .wave-item.item1 {
    animation-delay: 0s
}

 .sbi-waves .wave-item.item2 {
    animation-delay: 1.2s
}

.sbi-waves .wave-item.item3 {
    animation-delay: 2.4s
}

 .sbi-waves .wave-item.item4 {
    animation-delay: 3.6s
}
.row.formwrap .col-md-6 {
      position: relative;
    z-index: 10000000;  
}

#blfix{

    display:none;

    position:fixed;

    top:0;

left: 0;
    width: 100%;

z-index: 100000000;
}
.svast {
    width: 650px;
    height: 650px;
    position: relative;
    z-index: 100000;
    border-radius: 50%;
    background-color: #191d29;
    background-color: rgba(25, 29, 41, 0.5);
    margin: 0px auto 0px auto;
    margin: 29px 0px 0px -35px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000000000;
    background-color: #000;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000000000;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
section  {
    zoom: 85%;
}
.last {
    zoom: 100%!important;
}